body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-image: url(Immagine\ JPEG-4729-8EEF-87-0.jpeg);
}

#container{
    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

#divform{
    display: flex;
    justify-content: center;
    align-items: center;
}

#H1DATI{
    text-align: center;
    color: darkmagenta;
}

form {
    margin-bottom: 20px;
}

#bottoni{
    margin-top: 20px;
    margin-left: 40%;
}

#lab{
    margin-left: 10px;
    color: darkmagenta;;
}

h1{
    text-align: center;
    color: white;
}

#biglietto {
    margin: auto;
    min-height: 200px;
    width: 400px;
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

button {
    cursor: pointer;
}